- link_styles = 'display: block; text-decoration: none; padding: 5px; background-color: #ffffff; color: rgb(54,154,207); border: 1px solid #cccccc; text-align: center; font-weight: 300; border-radius: 12px; line-height: 2; width: 100px;'

%table{style: 'width: 100%;'}
  %tr
    %td
      %p
        = "Hello #{@notification.user.first_name},"
      %p
        = @follower.name
        = " just followed you on Friyay. Do you have any Workspaces you want to share with #{@follower.first_name}?"
  %tr
    %td{style: 'padding-top: 40px;'}
      = link_to "View #{@follower.first_name}'s Profile", "https://#{@domain.host_url}/users/#{@follower.id}", style: link_styles + 'width: 200px; margin: 0 auto;'
  %tr
    %td
      = link_to "Visit Your Profile", "https://#{@domain.host_url}/users/#{@notification.user.id}", style: link_styles + 'width: 200px; margin: 0 auto;'